body {
    background-image: url('https://img.freepik.com/free-vector/purple-fluid-background-frame_53876-99020.jpg?w=1380&t=st=1692988694~exp=1692989294~hmac=8be8529db72a9cf8fc086a275c9b16e2b29884c8c9b12645cb402527644a2fca');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
